---
import Header from "@components/Header";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />

    <title>{title}</title>

    <link rel="icon" type="image/png" href="/favicon.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AU+SA:wght@100..400&display=swap"
      rel="stylesheet"
    />
  </head>

  <body
    class="flex h-full min-h-screen w-full flex-col justify-center bg-slate-50 dark:bg-slate-950"
  >
    <Header client:visible />

    <main class="flex w-full justify-center">
      <slot />
    </main>
  </body>
</html>
